<div class="modal fade" id="modalSendXfile" tabindex="-1" role="dialog" aria-labelledby="modalSendXfileTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSendXfileTitle" >Gửi HSMT</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <input value='' id="sendXfileStatus"  hidden>       
              <div class="col-lg-12">
                  <div class="form-group" >
                        <!-- NgườI chỉnh sửa -->    
                        <div  id="divSelectCheckerInModal" style="display: none;"> 
                          <label>Chọn ngườI kiểm định</label>
                         
                          <div class="select2-yellow" >
                            <select class="select2 select2-hidden-accessible" multiple="" data-placeholder="Chọn người kiểm định" data-dropdown-css-class="select2-yellow" style="width: 100%;" data-select2-id="select2EditorMOdal" tabindex="-1" aria-hidden="true" id="selectCheckerInModal">
            
                            </select>
                        </div>
                        
      
                        </div>
                        <p id="modalSendXfileErrorPtag"></p>
  
                    </div>
                  <!-- text input -->
              </div>
  
          </div>
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-success" id="btnSendXfileModal" onclick="SendXfile();"> Gửi kiểm định</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modalSendBackXfile" tabindex="-1" role="dialog" aria-labelledby="modalSendBackXfileTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSendBackXfileTitle"> Yêu cầu sửa lại HSMT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <input value="" id="sendBackXfileStatus" hidden>
          <p id="modalSendBackXfileErrorPtag"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btnSendBackXfileModal" onclick="SendXfile('back');">Yêu cầu chỉnh sửa</button>
      </div>
    </div>
  </div>
</div>

<form id="formCreateChangeXFile">
  {% csrf_token %}
  <div class="modal fade" id="createChangeModal" tabindex="-1" role="dialog" aria-labelledby="createChangeModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createChangeModalTitle" >Tạo bản cập nhật mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">       
              <div class="col-lg-12">
                  <div class="form-group" >
                    <label for="inputChangeName">Nhập tên của bản cập nhật</label>
                    <input type="text" class="form-control" aria-describedby="inputHelp" placeholder="Tên bản cập nhật" name="change_name">
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-success" onclick="create_change_xfile({{xfileId}})"> Tạo mới</button>
          </div>
        </div>
      </div>
  </div>
</form>