
{% extends "layout.html" %}
{% load static %}


{% block header %}{{ h1header }} của {{ breadcrumb_sub }}{% endblock %}
{% block breadcrumb-text %}<a href="/task/list">Danh sách công việc</a>{% endblock %}
{% block breadcrumb-text-sub %}{{ breadcrumb_sub }}{% endblock %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block body %}
<p class="d-none" id="task-id" aria-label="to get current id">{{ task_id }}</p>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#modalAddTask">Thêm mới</button>
        <div class="row py-2 px-2">

        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              {% if user_role == '1' %}
              <div class="card-header">
                <btn class="btn btn-success float-right"  data-toggle="modal" data-target="#modalAddUser">Thêm bản ghi</btn>
              </div>

              {% endif %}
              <div class="card-body">
                <div class=row>
                  <div class="col-lg-12">
                    <table class="table table-head-fixed text-nowrap table-hover" width="100%" id="tblTask">

                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modalAddTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm nhiệm vụ mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                    <label for="task-title" class="col-form-label">Tên công việc:</label>
                    <input class="form-control" id="task-title">

                  </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="task-content" class="col-form-label">Nội dung công việc:</label>
                    <textarea class="form-control" id="task-content" type="date"></textarea>
                  </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="task-start-at" class="col-form-label">Ngày bắt đầu:</label>
                    <input class="form-control" id="task-start-at" type="date" value="2021-01-01">
                  </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="task-deadline" class="col-form-label">Hạn thực hiện:</label>
                    <input class="form-control" id="task-deadline" type="date" value="2021-01-01">
                  </div>
            </div>


              <div class="col-lg-12">
                <div class="form-group">
                    <label for="task-users" class="col-form-label">Người thực hiện:</label>
                    <input class="form-control" id="task-users">
                  </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSaveNewTask" data-id="{{ task_id }}">Lưu</button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="modalChangeStatus" tabindex="-1" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận đổi trạng thái?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Trạng thái mới</label>
            <select class="custom-select" id="statusType">
              <option value="0">Khởi tạo</option>
              <option value="1">Đang sửa đổi</option>
              <option value="2">Đang kiểm định</option>
              <option value="3">Đã hoàn thiện</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="btnChangeStatus">Đổi trạng thái</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xoá?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn xoá bản ghi này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger"  data-dismiss="modal" id="btnDeleteMiniTask">Xoá</button>
      </div>
    </div>
  </div>
</div>
{% comment %} <!-- {% endif %} --> {% endcomment %}

{% endblock %}

{% block datatablejs %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script src="{% static 'js/minitask-list.js' %}"></script>
{% endblock %}