{% extends 'hsmt/old/base.html' %}

{% block data %}
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" href="#">
                        {{xfiletype.name}}
                    </h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        Tên 
                        <span class="float-right">{{xfiletype.name}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Nội dung
                        <span class="float-right">{{xfiletype.example_content}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock data %}