{% extends 'hsmt/base.html' %}
{% load custom_tags %}

{% block data %}
    <div class="row">
        <div class="col-lg-12 mb-4" id="functionsBar">
            <a href="#" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="viewBtn">
                Xem chi tiết
            </a>
            <a href="#" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="createChangeBtn" data-toggle="modal" data-target="#createChangeModal">
                Tạo thay đổi mới
            </a>
            <a href="{% url 'hsmt-create' %}" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="editBtn">
                Sửa
            </a>
            <a href="{% url 'hsmt-submit' request.resolver_match.kwargs.pk %}" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="submitBtn">
                Gửi kiểm định
            </a>
            <a href="{% url 'hsmt-check' request.resolver_match.kwargs.pk %}" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="checkBtn">
                Gửi phê duyệt
            </a>
            <a href="{% url 'hsmt-approve' request.resolver_match.kwargs.pk %}" hidden class="btn btn-success float-right font-weight-bold mr-2 btn-sm" id="approveBtn">
                Phê duyệt
            </a>
            <a href="{% url 'hsmt-cancel-change' request.resolver_match.kwargs.pk %}" hidden class="btn btn-danger float-right font-weight-bold mr-2 btn-sm" id="cancelBtn">
                Hủy thay đổi
            </a>
            <a href="{% url 'hsmt-reject-check' request.resolver_match.kwargs.pk %}" hidden class="btn btn-danger float-right font-weight-bold mr-2 btn-sm" id="rejectCheckBtn">
                Yêu cầu sửa lại
            </a>
            <a href="{% url 'hsmt-reject-approve' request.resolver_match.kwargs.pk %}" hidden class="btn btn-danger float-right font-weight-bold mr-2 btn-sm" id="rejectApproveBtn">
                Yêu cầu kiểm định lại
            </a>
            <a href="#" class="btn btn-danger float-right font-weight-bold mr-2 btn-sm" data-toggle="modal" data-target="#deleteModal" id="deleteBtn">
                Xóa
            </a>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" href="#">
                        General detail
                    </h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        Code 
                        <span class="float-right">{{xfile.code}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Type 
                        <span class="float-right">{{xfile.type.name}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Status 
                        <span class="float-right">{{xfile.get_status_display}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Description 
                        <span class="float-right">{{xfile.description}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Targets
                        {% for target in xfile.targets.all %}
                            <span class="float-right">{{target}}</span>
                            <br>
                        {% endfor %} 
                    </h4>
                    <h4 class="small font-weight-bold">
                        Editors
                        {% for user in xfile.editors.all %}
                            {% if user.first_name and user.last_name %}
                                <span class="float-right">{{user.first_name}} {{user.last_name}}</span>
                            {% else %}
                                <span class="float-right">{{user}}</span>
                            {% endif %}
                            <br>
                        {% endfor %} 
                    </h4>
                    <h4 class="small font-weight-bold">
                        Checkers
                        {% for user in xfile.checkers.all %}
                            {% if user.first_name and user.last_name %}
                                <span class="float-right">{{user.first_name}} {{user.last_name}}</span>
                            {% else %}
                                <span class="float-right">{{user}}</span>
                            {% endif %}
                            <br>
                        {% endfor %} 
                    </h4>
                    <h4 class="small font-weight-bold">
                        Approvers
                        {% for user in xfile.approvers.all %}
                            {% if user.first_name and user.last_name %}
                                <span class="float-right">{{user.first_name}} {{user.last_name}}</span>
                            {% else %}
                                <span class="float-right">{{user}}</span>
                            {% endif %}
                            <br>
                        {% endfor %} 
                    </h4>
                    <h4 class="small font-weight-bold">
                        Version 
                        <span class="float-right">{{xfile.version}}</span>
                    </h4>
                    <h4 class="small font-weight-bold">
                        Date Created 
                        <span class="float-right">{{xfile.date_created}}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" href="#">
                        Contents
                    </h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">
                        {{xfile.content}} 
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" href="#">
                        Changes
                    </h6>
                </div>
                <div class="card-body">
                    {% if xfile.changes.count == 0 %}
                        <h4 class="small font-weight-bold">Chưa có thay đổi nào</h4>
                    {% endif %}
                        {% for change in xfile.changes.all|sort_by:'-date_created' %}
                        <div>
                            <a href="{% url 'hsmt-change-detail' change.id %}" class="small font-weight-bold btn btn-sm text-primary">
                                {{change.name}} 
                            </a>
                            <span class="float-right small font-weight-bold">{{change.date_created}}</span>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Models -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Confirm" below if you are sure to delete your XFile.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form action="delete/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'hsmt-create-change' request.resolver_match.kwargs.pk %}" method="POST">
        {% csrf_token %}
        <div class="modal fade" id="createChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nhập tên của thay đổi</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="form-group p-3">
                        <label for="inputChangeName">Tên của thay đổi</label>
                        <input type="text" class="form-control" aria-describedby="inputHelp" placeholder="Enter name" name="change_name">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>

    <script>
        async function getData(url = '', data = {}) {
            // fetch data from url
            const response = await fetch(url);
            return response.json(); // parses JSON response into native JavaScript objects
        }

        const update_function_bar = () => {
            let functionsBar = document.querySelector('#functionsBar')
            getData("{% url 'hsmt-perm' request.resolver_match.kwargs.pk %}")
                .then(data => {
                    //console.log(data)
                    for (perm in data)
                        if (data[perm]) {
                            let btn = document.getElementById(perm+'Btn')
                            btn.hidden = false
                        }
                })
        }

        getData("{% url 'hsmt-perm' request.resolver_match.kwargs.pk %}")
            .then(data => {
                for (perm in data)
                    if (data[perm]) {
                        let btn = document.getElementById(perm+'Btn')
                        btn.onclick = update_function_bar
                    }
            })

        update_function_bar()
    </script>
{% endblock data %}