{% extends 'hsmt/base.html' %}

{% block data %}
    <div class="row">
        <div class="col-lg-12 mb-4">
            <a href="{% url 'hsmt-create' %}" class="btn float-right text-primary font-weight-bold">
                Tạo mới
            </a>
        </div>
    </div>
    
    {% for xfile in xfile_list %}
        <!-- Content Row -->
        <div class="row">
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <a class="btn m-0 p-0 font-weight-bold text-primary" href="{% url 'hsmt-detail' xfile.id %}">
                            {{ xfile }} (ver {{xfile.version}})
                        </a>
                        <span class="float-right text-primary font-weight-bold"> Trạng thái: {{ xfile.get_status_display }}</span>
                    </div>
                    <div class="card-body">
                        <h4 class="small font-weight-bold">
                            Loại hồ sơ
                            <span class="float-right">{{xfile.type}}</span>
                        </h4>
                        <h4 class="small font-weight-bold">
                            Mã số
                            <span class="float-right">{{xfile.code}}</span>
                        </h4>
                        <h4 class="small font-weight-bold">
                            Ngày tạo
                            <span class="float-right">{{xfile.date_created}}</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock data %}