{% extends 'hsmt/base.html' %}

{% block data %}
    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" href="#">
                        Edit New XFile Type
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <label for="name" class="small font-weight-bold">Name</label>
                        <input type="text" name="name" id="name">
                        <br>
                        <label for="example_content" class="small font-weight-bold">Contents</label>
                        <textarea name="example_content" id="example_content" cols="30" rows="5"></textarea>
                        <br>
                        <button class="btn btn-primary float-right">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock data %}