
<div class="card card-default">
    <div class="card-header" data-card-widget="collapse" >
        <h3 class="card-title" >THÔNG TIN LÝ LỊCH</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>1. Họ tên và các tên gọi khác (bí danh/nickname trên mạng)</label>
                    <textarea type="text" class="form-control" id="hoVaTen"></textarea>
                    <div class="feedback" style="color: red;" id="hoVaTen-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Ngày sinh:</label>
                      <div class="input-group date" id="dtp2" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#dtp2" id='ngaySinh'>
                          <div class="input-group-append" data-target="#dtp2" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Quê quán</label>
                    <textarea type="text" class="form-control" id="queQuan"></textarea>
                    <div class="feedback" style="color: red;" id="queQuan-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Trú quán</label>
                    <textarea type="text" class="form-control" id="truQuan"></textarea>
                    <div class="feedback" style="color: red;" id="truQuan-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Dân tộc</label>
                    <textarea type="text" class="form-control" id="danToc"></textarea>
                    <div class="feedback" style="color: red;" id="danToc-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Quốc tịch</label>
                    <textarea type="text" class="form-control" id="quocTich"></textarea>

                    <div class="feedback" style="color: red;" id="quocTich-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Tôn giáo</label>
                    <textarea type="text" class="form-control" id="tonGiao"></textarea>
                    <div class="feedback" style="color: red;" id="tonGiao-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <textarea type="text" class="form-control" id="diaChi"></textarea>
                    <div class="feedback" style="color: red;" id="diaChi-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Điện thoại</label>
                    <textarea type="text" class="form-control" id="dienThoai"></textarea>

                    <div class="feedback" style="color: red;" id="dienThoai-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Đặc điểm nhận dạng</label>
                    <textarea type="text" class="form-control" id="dacDiemNhanDang"></textarea>
                    <div class="feedback" style="color: red;" id="dacDiemNhanDang-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nghề nghiệp</label>
                    <textarea type="text" class="form-control" id="ngheNghiep"></textarea>
                    <div class="feedback" style="color: red;" id="ngheNghiep-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nơi làm việc</label>
                    <textarea type="text" class="form-control" id="noiLamviec"></textarea>
                    <div class="feedback" style="color: red;" id="noiLamViec-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Thành phần, vị trí</label>
                    <textarea type="text" class="form-control" id="thanhPhanViTri"></textarea>

                    <div class="feedback" style="color: red;" id="thanhPhanViTri-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>2. Tổ chức chống đối tham gia</label>
                    <textarea type="text" class="form-control" id="toChucChongDoi"></textarea>
                    <div class="feedback" style="color: red;" id="toChucChongDoi-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>3. Quá trình hoạt động chống phá</label>
                    <textarea type="text" class="form-control" id="quaTrinhChongDoi"></textarea>
                    <div class="feedback" style="color: red;" id="quaTrinhChongDoi-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>4. Tổ chức/cá nhân chỉ đạo, tài trợ</label>
                    <textarea type="text" class="form-control" id="taiTro"></textarea>
                    <div class="feedback" style="color: red;" id="taiTro-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>5. Các tổ chức, mục tiêu liên quan</label>
                    <textarea type="text" class="form-control" id="toChucLienQuan"></textarea>
                    <div class="feedback" style="color: red;" id="toChucLienQuan-feedback"></div>
                </div>
                <!-- /.form-group -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.card-body -->
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">THÔNG TIN KỸ THUẬT - XÃ HỘI</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>1. Mục tiêu trên mạng</label>
                            <textarea type="text" class="form-control" id="mucTieuTrenMang"></textarea>
                            <div class="feedback" style="color: red;" id="mucTieuTrenMang-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>2. Các yếu tố cá nhân</label>
                            <textarea type="text" class="form-control" id="yeuToCaNhan"></textarea>
                            <div class="feedback" style="color: red;" id="yeuToCaNhan-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>3. Các đặc điểm hoạt động chống phá</label>
                            <textarea type="text" class="form-control" id="dacDiemHoatDong"></textarea>
                            <div class="feedback" style="color: red;" id="dacDiemHoatDong-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <!-- /.card -->
    <div class="col-md-6">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">ĐÁNH GIÁ</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Về giá trị TB, tin tức</label>
                            <textarea type="text" class="form-control" id="giaTri"></textarea>
                            <div class="feedback" style="color: red;" id="giaTri-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Khả năng tiếp cận bằng kỹ thuật</label>
                            <textarea type="text" class="form-control" id="tiepCanKT"></textarea>
                            <div class="feedback" style="color: red;" id="tiepCanKT-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Khả năng tiếp cận bằng ĐB</label>
                            <textarea type="text" class="form-control" id="tiepCanDB"></textarea>
                            <div class="feedback" style="color: red;" id="tiepCanDB-feedback"></div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>