
{% extends "layout.html" %}
{% load static %}


{% block header %}{{ h1header }}{% endblock %}
{% block breadcrumb-text %}{{ breadcrumb }}{% endblock %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block body %}
<section class="content">
  <div class="container-fluid">
    <div class="row"> 
      <div class="col-12">
        <div class="row py-2 px-2">
          
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              {% if user_role == '1' %}
              <div class="card-header">
                <btn class="btn btn-success float-right"  data-toggle="modal" data-target="#modalAddUser">Thêm bản ghi</btn>    
              </div>
              <!-- /.card-header -->

              {% endif %}
              <div class="card-body">
                <div class=row>
                  <div class="col-lg-12">
                    <table class="table table-head-fixed text-nowrap table-hover" width="100%" id="tblUser">
    
                    </table>
                  </div>
                </div>
          
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </div>
   
 
    <!-- /.row -->

    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

<!-- {% if userGroup.name == "Trưởng Phòng" %} -->
<!-- Modal -->
<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel11">Tạo tài khoản (Phòng X)</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username" value="user">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Mật khẩU" id = "password" value="1">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id = "repassword" value="1">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fab fa-rev"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Họ Tên" id="fullname" value="">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-signature"></span>
                </div>
            </div>

          </div>
        </div>

      </div>
   
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      <button type="button" class="btn btn-success" data-dismiss="modal" id="btnSaveNewUser">Lưu</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="modalActivate" tabindex="-1" aria-labelledby="activateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận <span id="activateModalLabel">kích hoạt</span>?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Chắc chắn <span id="activateModalBody">kích hoạt</span> ngườI dùng này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="btnActivateUser">Kích hoạt</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xác nhận xoá?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Chắc chắn xoá bản ghi này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger"  data-dismiss="modal" id="btnDeleteUser">Xoá</button>
      </div>
    </div>
  </div>
</div>
<!-- {% endif %} -->

{% endblock %}

{% block datatablejs %}
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock %}
{% block script %}
<script src="{% static 'js/user-list.js' %}"></script>
{% endblock %}